        <form action="list" method="GET">
            <label for="sort_by">Sorty By</label>
            <select name="sort_by" id="sort_by">
                <option value="1">Rank (default)</option>
                <option value="2">Name</option>
                <option value="3">Year</option>
            </select>
            <label for="highlight">Select a Rank to Highlight</label>
            <select name="highlight" id="highlight">
                <% (1..100).each do |i| %>
                <option value="<%= i %>"><%= i %></option>
                <% end %>
            </select>
            <input type="submit" value="Display List"/>
        </form>
