body {
    /*border: 2px solid #000000;*/
    width: 90%;
    border-width: 1px;
    border-style: solid;
    font-family: sans-serif;
    border-color: #000000;
    background-color: #aaaaaa;
}
div.header {
    float: left;
    clear: both;
    width: 100%;
    background-color: #cccccc;
    padding: 0.7em;
}
div.menubar {
    float: left;
    clear: both;
    width: 100%;
    background-color: #000000;
}
div.content {
    float: left;
    clear: both;
    width: 100%;
    padding-top: 1em;
    background-color: #ffffff;
}
div.footer {
    float: left;
    clear: both;
    width: 100%;
    text-align: center;
    background-color: #f0f0f0;
}

div.header h1{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    letter-spacing: -3px;
    font-size: 2.3em;
}
div.header h2{
    margin-top: 0;
    margin-bottom: 0;
    color: #666666;
    font-size: 0.8em;
}

div.menubar a:link,a:visited{
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    margin: 0.5em 1em;
}

div.menubar a:hover{
    color: #666666;
}

div#feelings {
    float: left;
    margin-right: 7em;
}
div#progress {
    float: left;
    background-color: #f0f0ff;
}

div#feelings h2 {
    margin-top: 0;
    margin-bottom: 0;
}
div#feelings form{
    display: table;
    border-spacing: 0.5em 1em;
}
div#feelings div.input {
    display: table-row;
}
div#feelings div.input .label {
    display: table-cell;
}
div#feelings p {
    display: block;
    vertical-align: text-top;
    margin-top: 0;
    margin-bottom: 0;
}
div#feelings div.input select,input {
    display: table-cell;
    vertical-align: text-top;
}

div#progress h2 {
    margin-top: 0;
}
