body {
    /*border: 2px solid #000000;*/
    border-width: 1px;
    border-style: solid;
    font-family: sans-serif;
    border-color: #000000;
    background-color: #aaaaaa;
}
div.header {
    float: left;
    clear: both;
    width: 100%;
    background-color: #cccccc;
    padding: 0.7em;
}
div.menubar {
    float: left;
    clear: both;
    width: 100%;
    background-color: #000000;
}
div.content {
    float: left;
    clear: both;
    width: 100%;
    background-color: #ffffff;
}
div.footer {
    float: left;
    clear: both;
    width: 100%;
    text-align: center;
    background-color: #f0f0f0;
}

div.header h1{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}
div.header h2{
    margin-top: 0;
    margin-bottom: 0;
    color: #666666;
    font-size: 0.9em;
}

div.menubar a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

form#feelings {
    float: left;
}
div#progress {
    float: left;
    background-color: #f0f0ff;
}

form#feelings div.input {
    float: left;
    clear: both;
}
form#feelings div.input .label {
    float: left;
}
form#feelings p {
    margin-top: 0;
    margin-bottom: 0;
}
form#feelings div.input select {
    float: right;
}
