body {
    /*border: 2px solid #000000;*/
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    background-color: #aaaaaa;
}
div.header {
    float: left;
    clear: both;
    width: 100%;
    background-color: #cccccc;
}
div.menubar {
    float: left;
    clear: both;
    width: 100%;
    background-color: #000000;
}
div.content {
    float: left;
    clear: both;
    width: 100%;
    background-color: #ffffff;
}
div.footer {
    float: left;
    clear: both;
    width: 100%;
    text-align: center;
    background-color: #f0f0f0;
}

form#feelings {
    float: left;
}
div#progress {
    float: left;
}
